@mixin red-btn{
	display: inline-block;
	background: $red;
	color: $text-color-light;
	padding: 0.6rem;
	margin: 0 1.5rem 0rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
}