{% extends 'base.html.twig' %}


{% block body %}

	{% include('sections/brand_top.html.twig') %}


	<section class="myEventsList contentContainer">
		
		<h2 class="myEventsList__title">Mes sorties sportives</h2>

	{% for event in app.user.sportEventsAsPlayer|sort((a,b) => a.date <=> b.date) %}

		{% include('sections/card_event_small.html.twig')%}
		
	{% endfor %}

	</section>




	{% include("sections/navbar_mobile.html.twig") %}

{% endblock %}
