{% extends 'base.html.twig' %}


{% block body %}

	{% include('sections/brand_top.html.twig') %}

	<div class="createEventForm form">
		<h2 class="form__title">Modifier {{event.title}}</h2>

		{{form_start(form)}}

			<h3 class="form__subtitle">Confirmer / Modifier mon sport</h3>

			<p class="form__text">Veuillez confirmer ou modifier le type de sport avant de pouvoir modifier les autres informations</p>
			{{form_widget(form)}}


		<div class="form__buttons-wrapper">
			<button type="submit" class="form__btn-next btn btn-primary">Enregistrer</button>
		</div>

		{{form_end(form)}}
		



		
	</div>


	{% include("sections/navbar_mobile.html.twig") %}

{% endblock %}
