.form {


	#inputEmail, #inputPassword{
		margin-bottom: 1rem;
	}


	&__btn--size{
		padding: 0.7rem 2rem;
		font-size: 1.2rem;
	}

	input[type="checkbox"]{
		width: inherit;
		height: inherit;
	}


}

.loginPage__link{
	font-weight: $roboto-medium;
	color: $text-color ; 
}