<div class="navbarMobile">
	<div class="navbarMobile__link-group">
		<a href="{{path("home")}}" class="navbarMobile__link">
			<i class="fas fa-search navbarMobile__icon"></i><br>
			explorer
		</a>
	</div>
	<div class="navbarMobile__link-group">
		<a href="#" class="navbarMobile__link">
			<i class="far fa-star navbarMobile__icon"></i><br>
			favoris
		</a>
	</div>
	<div class="navbarMobile__link-group">
		<a href="{{path('createEvent', {step:"choisir-un-sport"})}}" class="navbarMobile__link">
			<i class="far fa-plus-square navbarMobile__icon"></i> <br>
			créer
		</a>
	</div>
	<div class="navbarMobile__link-group">
		{% if is_granted('ROLE_USER') %}

			<a href="#" class="navbarMobile__link">
				<i class="fas fa-user navbarMobile__icon"></i><br>
				Mon compte
			</a>
			
			{% else %}

			<a href="{{path("app_login")}}" class="navbarMobile__link">
				<i class="fas fa-user navbarMobile__icon"></i><br>
				connexion
			</a>

		{% endif %}
	</div>
</div>