{% extends 'base.html.twig' %} 

{% block body %}
	{% include('sections/brand_top.html.twig') %}

	<h2 class="landing_page__title">Nom du site. Trouver des rassemblements sportifs dans votre ville.</h2>

	{% include('sections/card_event.html.twig') %}

	{% include("sections/navbar_mobile.html.twig") %}


{% endblock %}
