{% extends 'base.html.twig' %}

{% block body %}
	Ajoutons une description à notre event
	{{ form_start(createEventForm) }}
	    {{ form_widget(createEventForm) }}
	    <button type="submit" class="btn btn-primary">Create!</button>
	{{ form_end(createEventForm) }}

{% endblock %}