{% extends 'base.html.twig' %}

{% block body %}
	Entrer tout le reste de ce form
	{{ form_start(createEventForm) }}
	    {{ form_widget(createEventForm) }}
	    <button type="submit" class="btn btn-primary">Create!</button>
	{{ form_end(createEventForm) }}

{% endblock %}