@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:ital,wght@0,400;1,700&display=swap");
body {
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #FDFFFC;
  color: #011627;
  padding-bottom: 72px; }

.topBrand {
  width: 100%;
  height: 48px;
  background: #E71D36;
  display: flex;
  justify-content: center;
  align-items: center; }
  .topBrand__title {
    font-family: 'Roboto Condensed';
    color: #FDFFFC;
    margin-left: 1rem;
    font-size: 1.5rem; }

.card_event {
  width: 100%;
  max-width: 344px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 1.5rem; }
  .card_event__header {
    position: relative; }
    .card_event__header .card_event__thumbnail {
      width: 100%; }
    .card_event__header .like_container {
      position: absolute;
      bottom: 4px;
      right: 0;
      height: 34px;
      width: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 22, 39, 0.3);
      cursor: pointer; }
      .card_event__header .like_container .fa-star {
        color: #FF9F1C;
        font-size: 1.3rem; }
  .card_event__info-container {
    padding: 0 1rem; }
    .card_event__info-container .card_event__title {
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 6px; }
    .card_event__info-container .card_event__organiser {
      color: #2EC4B6; }
    .card_event__info-container .card_event__list-infos ul {
      padding-left: 0;
      margin-top: 0; }
      .card_event__info-container .card_event__list-infos ul li {
        list-style-type: none;
        padding: 0.9rem 0; }
        .card_event__info-container .card_event__list-infos ul li i {
          color: #FF9F1C;
          font-size: 1.5rem;
          margin-right: 2rem;
          width: 1.5rem;
          text-align: center; }
    .card_event__info-container .card_event__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 2rem; }
      .card_event__info-container .card_event__actions .card_event__action {
        text-decoration: none;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        font-size: 1rem; }
      .card_event__info-container .card_event__actions--more_info {
        color: #2EC4B6; }
      .card_event__info-container .card_event__actions--register {
        display: inline-block;
        background: #E71D36;
        color: #FDFFFC;
        padding: 0.6rem;
        margin: 0 1rem 0rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto Condensed'; }

.navbarMobile {
  height: 72px;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #FDFFFC;
  color: #E71D36;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px; }
  .navbarMobile__link {
    color: #E71D36;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 12px;
    font-style: italic; }
    .navbarMobile__link .navbarMobile__icon {
      font-size: 1.3rem;
      margin-bottom: 0.5rem; }

.createEventForm {
  padding: 0 1rem; }
  .createEventForm__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0; }
  .createEventForm__subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 3rem; }
  .createEventForm select, .createEventForm input, .createEventForm textarea {
    width: 100%;
    height: 56px;
    border: solid 1px #2EC4B6;
    background: #FDFFFC;
    border-radius: 5px;
    padding-left: 1rem; }
    .createEventForm select:active, .createEventForm input:active, .createEventForm textarea:active {
      outline-style: none; }
  .createEventForm__textArea {
    height: 112px !important;
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 13.33px; }
  .createEventForm__buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem; }
    .createEventForm__buttons-wrapper .createEventForm__btn-next {
      display: inline-block;
      background: #E71D36;
      color: #FDFFFC;
      padding: 0.6rem;
      margin: 0 1rem 0rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Roboto Condensed';
      padding: 0.6rem 1rem;
      border: none;
      margin-right: 0rem;
      cursor: pointer; }
      .createEventForm__buttons-wrapper .createEventForm__btn-next:hover {
        background: #FF9F1C; }
      .createEventForm__buttons-wrapper .createEventForm__btn-next::-moz-focus-inner {
        border: none; }

.landing_page__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  margin: 1rem; }

.event_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem; }

.event__thumbnail {
  width: 100%; }

.event__title, .event__subtitle {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase; }

.event__title, .event__subtitle, .event__text {
  margin: 1rem; }

.event__organiser {
  color: #2EC4B6; }

.event__remaining-availabilities {
  width: 100%;
  text-align: center;
  color: #2EC4B6; }

.event__level--color-red {
  color: #E71D36; }

.event__cta-participate {
  display: inline-block;
  background: #E71D36;
  color: #FDFFFC;
  padding: 0.6rem;
  margin: 0 1rem 0rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  position: fixed;
  right: 1rem;
  bottom: calc(72px + 1rem);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-right: 0; }
